body {
  background-color: #e7e9f1;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #38393e;
}

.card-container{
  @include perspective(500px);
  @include perspective-origin(50%, 50%);
}

.card {
  min-height: 500px;
  max-width: 350px;
  transform-style: preserve-3d;
  background-color: white;
  position: relative;
  width: 100%;
  margin: 15px auto;
  border-radius: 9px;
  -webkit-transition: -webkit-transform 250ms ease-out;
  -moz-transition: -moz-transform 250ms ease-out;
  -ms-transition: -ms-transform 250ms ease-out;
  transition: transform 250ms ease-out;

  .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    margin: auto;
    height: 250px;
    border-radius: 0 0 9px 9px;
  }

  p{
    padding: 0 15px;
    @include transforms(translateZ(30px));
  }

  img{
    width: 100%;
  }

  h2{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 25px;
    left: 35px;
    @include transforms(translateZ(50px));
  }
}

.rated{
  margin-bottom: 20px;
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #636468;
  border: 3px solid #636468;
  background-color: #ffffff;
  @include transforms(translateZ(60px));

  h3{
    font-size: 22px;
    margin: 0;
    text-align: center;
    line-height: 45px;
  }
}

.rating, .length{
  float: left;
  width: 100%;
  display: block;
}

.length{
  font-size: 14px;
  color: #a5a6a8;
  margin-bottom: 10px;
  @include transforms(translateZ(20px));
}

.rating{
  height: 20px;
  width: 115px;
  background: url("../img/star-sprite.png") no-repeat 0 0;
  @include transforms(translateZ(40px));

  &.five{
    background-position: 0 -97px;
  }
}
