body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e7e9f1; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; }

.margin-bottom-50px {
  margin-bottom: 50px; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #38393e; }

.card {
  min-height: 500px;
  max-width: 350px;
  background-color: white;
  position: relative;
  width: 100%;
  margin: 15px auto;
  border-radius: 9px; }
  .card .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    margin: auto;
    height: 190px;
    border-radius: 0 0 9px 9px; }
  .card p {
    padding: 0 5px; }
  .card img {
    width: 100%; }
  .card h2 {
    color: white;
    font-weight: 100;
    position: absolute;
    top: 25px;
    left: 35px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.53);
    -webkit-transform: translateZ(70px);
    -moz-transform: translateZ(70px);
    -ms-transform: translateZ(70px);
    -o-transform: translateZ(70px);
    transform: translateZ(70px); }

.rated {
  z-index: 300;
  position: absolute;
  right: 20px;
  top: -28px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid #fefefe;
  background-color: rgba(69, 13, 13, 0.71);
  -webkit-transform: translateZ(30px);
  -moz-transform: translateZ(30px);
  -ms-transform: translateZ(30px);
  -o-transform: translateZ(30px);
  transform: translateZ(30px); }
  .rated h3 {
    font-weight: 100;
    font-size: 23px;
    margin: 0;
    text-align: center;
    line-height: 54px;
    color: #f5f5f5; }

.rating, .length {
  float: left;
  width: 100%;
  display: block; }

.length {
  font-size: 14px;
  color: #a5a6a8;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 0 5px;
  margin-top: 6px;
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px); }

.rating {
  z-index: 300;
  position: absolute;
  left: 20px;
  top: -35px;
  height: 20px;
  width: 115px;
  background: url("../img/star-sprite.png") no-repeat 0 0;
  -webkit-transform: translateZ(35px);
  -moz-transform: translateZ(35px);
  -ms-transform: translateZ(35px);
  -o-transform: translateZ(35px);
  transform: translateZ(35px); }
  .rating.five {
    background-position: 0 -97px; }

.card-lg {
  width: 100%;
  min-height: 500px;
  transform-style: preserve-3d;
  -webkit-transition: transform 250ms ease-out;
  -ms-transition: transform 250ms ease-out;
  transition: transform 250ms ease-out;
  border: 3px dashed #f9f9f9;
  position: relative; }
  .card-lg h2 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
